*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
body{
    background-color: #f2f2f2;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 1px 7px 14px -5px rgba(0, 0, 0, 0.215);
}
.container .toast{
    background-color: #fff;
    padding:20px 15px 20px 20px;
    border-radius: 10px;
    border-left: 5px solid #2ecc71;
    width: 430px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.toast .content{
    display: flex;
    align-items: center;
}
.toast .content .icon{
    font-size: 25px;
    background-color: #2ecc71;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #fff;
}
.toast .content .details{
    margin-left:  15px;
}
.content .details span{
    font-size: 20px;
    font-weight: 700;
}
.content .details p{
    color: #878787;
}
.toast .close-icon{
    height: 40px;
    width: 40px;
    font-size: 25px;
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}